body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, black, #0a045a 100%);
  text-align: center;
  color: #ffffff;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #00000080;
  padding: 1em;
  border-radius: 10px;
}
button {
  background-color: #0a045a;
  color: #ffffff;
  border: none;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 6px black;
  cursor: pointer;
}
button:hover {
  background-color: #0a045a;
}
.final-step,
.second-step {
  display: none;
}
input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#resultado {
  font-size: 25px;
}
